<div class="text-center">
  <div class="card-header">
  Posted by 
  {{ user.username }}
  </div>
  <div class="card-body"></div>
  <h2 id="{{ id }}" class="card-title">{{title}}</h2>
  <p class="card-text">{{body}}</p>

  <p>Created on {{ format_date createdAt }}</p>

  <textarea name="comment" id="addComment" cols="30" rows="5"></textarea>
  <button id="comment-text">Add Comment</button>
  {{!-- <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p> --}}
  {{#each comments as |comment|}}
  <p>{{comment.body}}</p>
  {{/each}}
</div>

<script src="/js/comment.js"></script>